{namespace s=Subugoe\Find\ViewHelpers}
<nav>
    <ul class="pagination justify-content-end">
        <f:alias map="{pager:'{s:find.pageList(currentPage:arguments.page, perPage:config.count, resultCount:results.numfound)}'}">
            <f:if condition="{pager.previous}">
                <f:then>
                    <li class="page-item">
                        <f:link.action
                            arguments="{page:pager.previous}"
                            addQueryString="TRUE"
                            section="{settings.jumpToID}"
                            noCacheHash="1"
                            class="page-link"
                            title="{f:translate(key:'Go to previous page of results. (Page %s)', arguments:'{1:pager.previous}')}">
                            <i class="fa fa-angle-left"></i>
                        </f:link.action>
                    </li>
                </f:then>
            </f:if>
            <f:for each="{pager.pages}" as="page">
                <li class="page-item {f:if(condition:'{page.current}', then:'active')} {f:if(condition:'{page.gap}', then:'gap')}">
                    <f:if condition="{current:page.current, gap:page.gap} == {current:FALSE , gap:FALSE}">
                        <f:then>
                            <f:link.action
                                arguments="{page:page.number}"
                                addQueryString="TRUE"
                                section="{settings.jumpToID}"
                                noCacheHash="1"
                                class="page-link">
                                {page.text}
                            </f:link.action>
                        </f:then>
                        <f:else>
                            <a class="page-link" href="#">{page.text}</a>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
            <f:if condition="{pager.next}">
                <li class="page-item">
                    <f:link.action
                        arguments="{page:pager.next}"
                        addQueryString="TRUE"
                        section="{settings.jumpToID}"
                        noCacheHash="1"
                        class="page-link"
                        title="{f:translate(key:'Go to next page of results. (Page %s)', arguments:'{1:pager.next}')}">
                        <i class="fa fa-angle-right"></i>
                    </f:link.action>
                </li>
            </f:if>
        </f:alias>
    </ul>
</nav>
