{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
    Renders the facet as a list.
    If there are more than displayDefault list items, additional ones are hidden
    with a JavaScript link to show them.

    Each list item is created by the Facets/Facet/List/Item partial.
    A potentially configured autocomplete popup is created by the
    Facets/Facet/List/Autocomplete partial.
</f:comment>
<f:if condition="{facetInfo.autocomplete}">
    <f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
        <f:render partial="Facets/Facet/List/Autocomplete" arguments="{_all}"/>
    </f:if>
</f:if>
<ol class="facetList{f:if(condition:facetInfo.autocomplete, then:' autocomplete')}">
    <div class="container">
        <f:for each="{facetData.values}" as="itemCount" key="facetTerm" iteration="iterator">
            <f:alias map="{
                facetTermDisplay:'{f:if(
                    condition:facetInfo.sortPrefixSeparator,
                    then:\"{s:format.regexp(
                     string:facetTerm,
                     match:\'/^.*?{facetInfo.sortPrefixSeparator}/\',
            replace:\'\'
            )}\",
            else:facetTerm
            )}'
            }">

            <f:for each="{facetInfo.icons}" as="iconInfo" key="iconKey" iteration="iconIterator">
                <f:if condition="{iconInfo.id}=={facetTerm}">
                    <f:then>
                        <div class="row" style="margin-bottom: 1rem;">
                            <div class="col-2">
                                <f:if condition="{iconInfo.icon}">
                                    <f:then>
                                        <img src="{iconInfo.icon}" width="32" style="margin-top: 0.2rem;"/>
                                    </f:then>
                                </f:if>
                            </div>
                            <div class="col align-top">
                                <f:render partial="Facets/Facet/List/Item" arguments="{_all}"/>
                            </div>
                        </div>

                    </f:then>
                </f:if>
            </f:for>

            </f:alias>
        </f:for>
    </div>
    <f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
        <li class="facetShowAll" style="display: list-item;">
            <a href="#" onclick="return tx_find.showAllFacetsOfType(event)">
                <f:translate key="show all"/>
            </a>
        </li>
        <li class="facetHideHidden" style="display: none;">
            <a href="#" onclick="return tx_find.showAllFacetsOfType(event)">
                <f:translate key="hide hidden"/>
            </a>
        </li>
    </f:if>
</ol>
