{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
    Renders the facet as a list.
    If there are more than displayDefault list items, additional ones are hidden
    with a JavaScript link to show them.

    Each list item is created by the Facets/Facet/List/Item partial.
    A potentially configured autocomplete popup is created by the
    Facets/Facet/List/Autocomplete partial.
</f:comment>
<ol class="facetList">
    <li>
        <span class="facet">
            <span class="facet-icon"></span>
            <span class="facet-term">
                <f:if condition="{s:find.facetIsActive(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:config.activeFacets)}">
                    <f:then>Ohne Qualifikationsarbeiten</f:then>
                    <f:else>
                        <f:link.action
                            addQueryString="TRUE"
                            arguments="{s:find.facetLinkArguments(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:config.activeFacets)}"
                            argumentsToBeExcludedFromQueryString="{0:'{config.prefixID}[page]'}"
                            section=""
                            noCacheHash="1"
                            title="{f:translate(
                                            key :'LLL:{settings.languageRootPath}locallang-hovers.xlf:facetfilterenabler',
                                            arguments : {0:facetName, 1:facetText}
                                            )}"
                            class="facetAdd internal">
                            Ohne Qualifikationsarbeiten
                        </f:link.action>
                    </f:else>
                </f:if>
            </span>
        </span>
    </li>
</ol>
