<f:if condition="{config.activeFacets}">
    <h4><img width="16"
    src="typo3conf/ext/hosfindfacetviews/Resources/Public/assets/funnel.png"> Filter
    entfernen</h4>
    <dl>
    <f:for each="{config.activeFacets}" as="facetInfo" key="facetKey">
        <f:if condition="{facetInfo.hidden}!=1">
           <dt>
              <f:translate
              key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetKey}"
              default="{facetKey}"/>
           </dt><dd>
           <ul>
           
           <f:for each="{facetInfo}" as="facetItemInfo" key="facetKey">
               <li>➤ 
                  <f:link.action
				addQueryString="TRUE"
				argumentsToBeExcludedFromQueryString="{s:find.facetLinkArguments(facetID:facetItemInfo.id,
				facetTerm:facetItemInfo.term, activeFacets:config.activeFacets, mode:'remove')}"
				section="{settings.jumpToID}"
				noCacheHash="1"
				class="icon-cancel facetRemove internal"
				title="{f:translate(key:'remove filter %s', arguments:{0:facetItemInfo.term})}">
				   <span class="facetName">
				     <f:translate
				     key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetItemInfo.id}.{facetItemInfo.term}" default="{facetItemInfo.term}"/>
				   </span></f:link.action>
              </li>
           </f:for>
           </ul></dd></dt>
 
        </f:if>
    </f:for>
    </dl>
</f:if>