<f:if condition="{creatornames} != ''">
  <ol class="horizontal">
    <f:variable name="total" value="{iterator.total}"></f:variable>
    <f:for each="{creatornames}" as="creatorname" iteration="iterator">
      <f:variable name="orcid" value="{orcids.{iterator.index}}"></f:variable>
      <f:if condition="{iterator.index} < 7">
        <f:then>
          <li>
            <f:link.action
              addQueryString="TRUE"
              arguments="{s:find.facetLinkArguments(facetID:'creatorname', facetTerm:'{creatorname -> f:format.stripTags()}', activeFacets:config.activeFacets)}"
              argumentsToBeExcludedFromQueryString="{0:'{config.prefixID}[page]',1:'tx_find_find'}"
              section=""
              noCacheHash="1"
              title="{f:translate(
                     key :'LLL:{settings.languageRootPath}locallang-hovers.xlf:facetfilterenabler',
                     arguments : {0:facetName, 1:facetText}
                     )}"
              class="facetAdd
                     internal">
              {creatorname}<f:render partial="Orcid" arguments="{_all}"/>
            </f:link.action>
          </li>
        </f:then>
      </f:if>
    </f:for>
    <f:if condition="{total} > 7">
      <li>et al.</li>
    </f:if>
  </ol>
</f:if>
