
<f:for each="{creatornames}" as="creatorname" iteration="iterator"> 
<f:variable name="total" value="{iterator.total}"></f:variable> 
<f:if condition="{iterator.index} < 3">
	<f:link.action
        	    addQueryString="FALSE"
	            section="{settings.jumpToID}"
	            arguments="{s:find.facetLinkArguments(facetID:'creatorname',
	            facetTerm:'{creatorname}', activeFacets:config.activeFacets)}"
	            noCacheHash="1"
	>  {creatorname}<f:if condition="{iterator.isLast}"><f:then></f:then><f:else><f:if condition="{iterator.index} < 2 "><f:then>;</f:then><f:else></f:else></f:if></f:else></f:if>
	</f:link.action>
</f:if>  
</f:for>
<f:if condition="{total} > 3">
 …
</f:if>
