{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
        The main search form, automatically built from the configuration in the
        queryFields setting.

        Uses the the partials in the Form/Fields folder to create each individual
        field type. Also creates the submit button, extended search link and
        possibly the UI to control the sort order and number of results per page.

        Adds an error message to the page if an error occured.
</f:comment>
<f:if condition="!{inputOnly}">
    <f:render partial="Form/QueryError.html" arguments="{_all}"/>
</f:if>
<f:form name="c{config.uid}-form"
        method="get"
        action="index"
        pageUid="{settings.jumpToPage}">
    <div class="wrap-fieldset">
        <fieldset>
            <legend>Suche nach Publikationen, Forschungsdaten und weiteren Dokumenten</legend>
            <div>
                <div>
                    <f:form.textfield id="combinedTextField" name="q[all]" class="form-control" />
                </div>
                <f:if condition="!{inputOnly}">
                    <f:then>
                        <div>
                            <f:form.select id="combinedSelectField" name="searchFieldSelection" class="form-control">
                                <f:for each="{settings.queryFields}" as="fieldInfo">
                                    <f:if condition="{fieldInfo.hidden}!=1 && {fieldInfo.id}!='default' && {fieldInfo.id}!='extended'">
                                        <f:form.select.option value="{fieldInfo.id}">
                                            <f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.select.{fieldInfo.id}"/>
                                        </f:form.select.option>
                                    </f:if>
                                </f:for>
                            </f:form.select>
                        </div>
                    </f:then>
                </f:if>
                <div>
                    <f:form.submit value="{f:translate(key:'Search')}" class="btn btn-primary" />
                </div>
            </div>
            <f:if condition="!{inputOnly}">
                <div>
                    <f:render partial="Components/HelperPage.html" arguments="{_all}"/>
                </div>
            </f:if>
        </fieldset>
    </div>
    <f:if condition="!{inputOnly}">
        <div class="navigation-top">
            <f:if condition="{f:count(subject:config.sortOptions.menu)} > 1">
                <f:render partial="Components/NavigationTop" arguments="{_all}"/>
            </f:if>
        </div>
    </f:if>
</f:form>
