{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	The main search form, automatically built from the configuration in the
	queryFields setting.

	Uses the the partials in the Form/Fields folder to create each individual
	field type. Also creates the submit button, extended search link and
	possibly the UI to control the sort order and number of results per page.

	Adds an error message to the page if an error occured.
</f:comment>
<f:render partial="Form/QueryError.html" arguments="{_all}"/>
<f:form name="c{config.uid}-form"
		method="get"
		action="index"
		section=""
		pageUid="{settings.jumpToPage}" 
		class="searchForm {f:if(condition:config.extendedSearch, then:'search-extended', else:'search-simple')}">

	<f:for each="{arguments.facet}" as="facet" key="facetID">
		<f:for each="{facet}" as="unused" key="facetValue">
			<f:form.hidden class="hidden_facet" name="facet[{facetID}][{facetValue}]" value="1"/>
		</f:for>
	</f:for>

	<div class="formFields">
		<f:if condition="{settings.useCombinedFields}">
			<f:then>
				<f:form.textfield
						id="combinedTextField"
						class="inputType-text"
						name="q[all]"
						placeholder="{f:translate(key:'LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}.placeholder')}"
						additionalAttributes=""/>
				<f:form.select id="combinedSelectField" name="searchFieldSelection" class="select-selected removeSelectStyle searchSelect">
					<f:for each="{settings.queryFields}" as="fieldInfo">
						<f:if condition="{fieldInfo.hidden}!=1 && {fieldInfo.id}!='default' && {fieldInfo.id}!='extended'">
							<f:form.select.option value="{fieldInfo.id}"><f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.select.{fieldInfo.id}"/></f:form.select.option>
						</f:if>
					</f:for>
				</f:form.select>
			</f:then>
			<f:else>
				<f:for each="{settings.queryFields}" as="fieldInfo">
					<f:if condition="{fieldInfo.type}">
						<f:then>
							<f:if condition="{s:logic.or(conditions:'{
								0:\"{s:logic.not(condition:fieldInfo.hidden)}\",
								1:\"{s:data.valueForKey(array:arguments.q, key:fieldInfo.id)}\"
							}')}">
								<div class="fieldContainer fieldType-{fieldInfo.type} field-{fieldInfo.id} field-mode-{f:if(condition:'{fieldInfo.extended}', then:'extended', else:'simple')}">
									<f:alias map="{queryParameter:'{s:data.valueForKey(array:config.query, key:fieldInfo.id)}'}">
										<f:render partial="Form/Fields/{fieldInfo.type}" arguments="{_all}"/>
									</f:alias>
								</div>
							</f:if>
						</f:then>
						<f:else>
							<div class="fieldContainer error">
								<f:translate key="Missing type in configuration for queryField %s." arguments="{0:fieldInfo.id}"/>
							</div>
						</f:else>
					</f:if>
				</f:for>

			</f:else>
		</f:if>


	</div>

	<div class="controls">
		<f:form.submit value="{f:translate(key:'Search')}" class="submit"/>

		<f:groupedFor each="{settings.queryFields}" as="fieldsByType" groupBy="extended" groupKey="extended">
			<f:if condition="{0:extended} == {0:1}">
				<f:if condition="{config.extendedSearch}">
					<f:then>
						<f:link.action
							addQueryString="TRUE"
							argumentsToBeExcludedFromQueryString="{0:'{config.prefixID}[extendedSearch]'}"
							class="extendedSearch internal"
							additionalAttributes="{
								simpleString:'{f:translate(key:\"extended Search\")}',
								extendedString:'{f:translate(key:\"basic Search\")}'
							}">
							<f:translate key="basic Search"/>
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action
							addQueryString="TRUE"
							arguments="{extendedSearch: 1}"
							class="extendedSearch internal"
							additionalAttributes="{
								simplestring:'{f:translate(key:\"extended Search\")}',
								extendedstring:'{f:translate(key:\"basic Search\")}'
							}">
							<f:translate key="extended Search"/>
						</f:link.action>
					</f:else>
				</f:if>
			</f:if>
		</f:groupedFor>
		
	</div>
	
	<div class="clear"></div>
        <f:render partial="Components/HelperPage.html" arguments="{_all}"/>
        <div class="clear"></div>
        <f:if condition="{f:count(subject:config.sortOptions.menu)} > 1">
       	    <f:render partial="Components/NavigationTop" arguments="{_all}"/>
        </f:if>
	<div class="clear"></div>
</f:form>
