{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	Renders a dt/dd pair for the field named field of the document passed.
	Takes into account whether the field is repeatable or not and uses the
	appropriate label.
</f:comment>
<f:alias map="{fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}'}">
	<f:if condition="{fieldContent}">
		<dt class="dt-{field}">
			<f:if condition="{s:data.isArray(subject:fieldContent)}">
				<f:then>
					<f:if condition="{fieldContent->f:count()} > 1">
						<f:then>
							<f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}.plural" default="{field}"/>:
						</f:then>
		                                <f:else>
							<f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}" default="{field}"/>:
						 </f:else>
		                        </f:if>
				</f:then>
				<f:else>
	   		     		<f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}" default="{field}"/>:
				</f:else>
			</f:if>
		</dt>
		<dd class="dd-{field}">
			<f:if condition="{field} == 'url'">
                                <f:then>

                                        <ul class="field-{field}-group">
                                                <f:for each="{document.fields.url}" as="item">
                                                        <li>
                                                                <span class="field-{field}">
                                                                        <f:link.external uri="{item}" target="_blank">{item}</f:link.external>
                                                                </span>
                                                        </li>
                                                </f:for>
                                        </ul>
                                </f:then>
                                
                                <f:else if="{field} == 'creatorName'">
                                 	<f:variable name="orcids" value="{results.documents.0.fields.creatorNameURI}"></f:variable> 		
                                 	<f:variable name="creatornames" value="{results.documents.0.fields.creatorName}"></f:variable> 		
                                 	<ul class="field-{field}-group">
						<f:for each="{creatornames}" as="creatorname" iteration="nameiterator"> 
							<f:variable name="orcid" value="{orcids.{nameiterator.index}}"></f:variable> 
                                                        <li>
							<f:if condition="{orcid} && {orcid} != '-'}">
							  <a href="{orcid}" target="orcid" class="orcidlink"><img  style="width:14px;vertical-align:baseline;margin-right:-3px;margin-bottom:-2px" src="/typo3conf/ext/hosfindfacetviews/Resources/Public/assets/orcid.png" /></a>
							</f:if>
							<span class="field-{field}">{creatorname}</span>
                                                        </li>
                                                </f:for>
                                        </ul>                                
                                </f:else>
			
				<f:else>
					<f:render
						partial="Display/Field/List"
						arguments="{
							document:document,
							results:results,
							field:field,
							linkFieldContent:linkFieldContent,
							linkFacets:linkFacets
						}"/>
				</f:else>
				
			</f:if>
		</dd>
	</f:if>
</f:alias>
