* {
    font-family: "Roboto Condensed";
}


.tx_find .facets {
  float:left!important;
  clear:left!important;
  width:275px!important
}

header  {
 text-align:left;
 padding: 0 0 0 25px;
 font-size:22px;
 top:0;
 z-index:999;
 position: -webkit-sticky;
 position : sticky;
 color:white!important;
 border-radius:3px;
 margin:-30px 0 0 0;
 background-color:darkblue;
}

#c3 p,#c3 a{
  color:white
}

.heatmapContainer {
   border:1px black solid!important;
}


.formFields .fieldContainer label {
  display:none!important
 }

.formFields {
  margin-top:3px!important
}
.fieldContainer .inputContainer   {
   margin-bottom:0!important;
}
.tx_find article.facet a, .tx_find .facet-type-Tabs a {
  display:inline!important
}
.inputType-text {
    width: 340px;
    line-height: 17.5px;
    font-weight: 400;
    display:none;
    background-color:white!important;
    padding: 10.5px 10px!important;
    font-size: 16px;
    border: 1px solid #BCBCBC;
    color: darkblue!important;
    margin: 2px 10px 0 0;
}
.tx_find form .submit {
  height:42px!important;
  margin: 5px 0 0 0!important
}
.controls select {
    border-radius: 6px;
    padding: 10px 12px 10px 2px;
    font-size: 20px;
    border: 1px solid #BCBCBC;
    color: darkblue;
    margin-left: 0;
    margin-right: 15px;
}
.submit {margin: 0 15px 0 0 !important;
    margin-top:3px!important;
    padding: 9px 12px 9px 12px;
    background: url(../button_shadow_large.png) repeat-x bottom #39A7D8;
    height:46px!important;
    width:190px;
    border-radius: 6px;
    color : #FFFFFF;
    font-size: 14px;
    text-shadow: 0px 1px 1px #1F6687;
    cursor: pointer;
    text-transform: lowercase;
}

.tx_find .results ol.resultList {
  margin: 0  0 0  300px!important;
  padding-right: 3em;
  list-style-type: none;
}
.tx_find .results ol.resultList li article  {
   margin-top: -3.6em;
   margin-left: 0.5em
}
a {
    color: darkblue;
}
a:link, a:visited {
    color: darkblue;
    text-decoration: none;
}
body {
    margin:0;
    padding:0;
    background-color: #eee;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: inherit;
    display:none
}
div.navigation.top {
    font-size:14px;
    padding:0;margin:0
}
.resultList, .detail {
    padding:10px;
    margin:10px;
    border-radius:5px;
    background-color: rgba(250, 250, 250, 1.0)
}
.facets {
    padding:5px;
    margin-left:5px;
    border-radius:5px;
    background-color: rgba(255, 255, 255, 1.0)
}
article p {
    margin-top:5px;
}
article.detail dl {
    padding: 0.5em;
}
article.detail dt {
    float: left;
    clear: left;
    width: 190px;
    text-align: right;
    font-weight: bold;
    color: darkred;
}
article.detail dt::after {
    content: ": ";
}
article.detail dd {
    margin: 0 0 0 40px;
    padding: 0 0 0.5em 10.5em;
}
dd li,dd ul {
    margin : 0;
    padding : 0;
    list-style-type: none;
}
.previewDetails dt {color:darkred}
.previewDetails dd {padding-right:15px}


.awesome-marker svg {
    font-size: 14px;
    margin-top: 15px;
    color:white
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/roboto-condensed-v16-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../Fonts/roboto-condensed-v16-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/roboto-condensed-v16-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Fonts/roboto-condensed-v16-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../Fonts/roboto-condensed-v16-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Fonts/roboto-condensed-v16-latin_latin-ext-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
.tx_find dd  {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.facets h3 {
  display:none
}
iframe,.webui-popover-content,webui-popover {
  padding:0!important;
  overflow:hidden!important
}
.tx_find article.facet h1, .tx_find .facet-type-Tabs h1 {
  text-transform : none!important
}
.ce-textpic {background-color:white;padding:0 0 0 10px}


/** CSS for AUROCOMPLETER */

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover
{
  border: 1px solid #000;
  background:darkblue;
}


/* =================================================*/
 /* ******   CSS for SELECTOR
 the container must be positioned relative:*/
.custom-select {
  position: relative;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background: url(/typo3conf/ext/find/Resources/Public/button_shade_large.png) repeat-x scroll 0 100% #f3f6fb!important;
  color: darkblue!important
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: darkblue transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent darkblue transparent;
  top: 18px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #fff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: darkblue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.toast{ position:fixed;bottom:0;left:0;right:0;margin:0 auto;display:table;margin:1.5rem auto;padding:1.5rem 2rem;width:500px;-webkit-transform:translateY(200%);-ms-transform:translateY(200%);transform:translateY(200%);-webkit-transition:0.5s all;transition:0.5s
all;opacity:0;background:darkblue}
.toast.toast--shown{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1}
.toast .toast-close{float:right;cursor:pointer;margin-left:1em;}
.toast .toast-button{float:right;background:inherit;font-size:1.2em;line-height:1.2em;margin:-0.5em;padding:0.5em;text-transform:uppercase;letter-spacing:1px;cursor:pointer;}
.toast .toast-button:hover{background:#514951;}
.toast .toast-button:active{background:#6b626b;}
.toast-text {color:white}
.toast-button, .toast-close {color:silver}
.grayscale {
    -webkit-filter: grayscale(99%); /* Safari 6.0 - 9.0 */
    filter: grayscale(99%);
}
#home-button {
  position:absolute;
  font-size:100px;
  color:darkred;
  line-height:0.55;
  cursor:pointer
}

.tx_find .results {
  padding-top:1em!important
}

.schaufenster_synonymbar {
  line-height:1.4em;
  margin:10px 0 0 125px;
  width:750px;);
  font-size:0.77em;
  display: none;

  }

.resourcetype-icon {margin:5px -7px -2px
10px;font-size:1.9em;}

.openaccess-icon {margin:5px 0 -3px -5px;font-size:2.0em;line-height:10px}

.alpha {
position:fixed;
width:100px;
text-align:center;
transform: rotate(45deg);
font-size: 16.5px;
font-weight:bold;
z-index: 9999!important;
top:20px;
right:-20px;
color: white;
opacity:0.9;
background-color:red
}

.facetCollection {width:23px;border:1px solid silver}

.resultCollection {
width:15px;border:1px solid #ddd;
margin-bottom:-2px;margin-left:10px}


.icon-right-open {display:none}
.field-rightsOA  {display:inline!important}

.previewButton {color:darkred;cursor:context-menu;margin-left:10px}
.previewDetails {display:table;width:100%}

.facets article {border-top:black;background-color:#f8f8f8;padding:0}

.facets article h1 {color:white;padding:3px;border-radius:
3px;background-color:darkred;margin-bottom:10px!important}

.inputContainer {display:inline}